# Python virtual environment
bin/
lib/
share/
pyvenv.cfg
CACHEDIR.TAG
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# files
dist
*.ttf

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db